<div class="container">
  <div class="row">
    <div class="col-8">
      <img src="/assets/screenshot.png"
           class="img-fluid my-2 border border-secondary">
      <img src="/assets/screenshot2.png"
           class="img-fluid my-2 border border-secondary">

    </div>
    <div class="col">

      <p>Creare un'applicazione che gestisca dei task.</p>
      I task sono caratterizzati da:
      <ul>
        <li>Titolo <span class="text-muted">string</span></li>
        <li>Descrizione <span class="text-muted">string</span></li>
        <li>Scadenza <span class="text-muted">string/Date</span></li>
        <li>Urgente <span class="text-muted">boolean</span></li>
        <li>Completato <span class="text-muted">boolean</span></li>
      </ul>

      <p>Mostrare sulla parte sinistra un componente a tab con 2 tab:</p>

      <ol>
        <li>Tab da fare:<br>In questo tab devono essere mostrati tutti i task ancora da completare. Ogni task può essere completato o eliminato.</li>
        <li>Tab completati:<br>In questo tab devono essere mostrati tutti i task completati.</li>
      </ol>

      <p>
        Mostrare sulla parte destra una form che mi permetta di inserire un nuovo task. I task appena creati non sono completati.
      </p>
    </div>
  </div>

  <app-container></app-container>
</div>
